@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
    margin: 0;
    padding: 0;
    height: auto;
}

.bgi {
    /* background-color: #F3982D; */
    background-color:black;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.main-sec {

  width: 100%;
  margin: 10rem auto;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.slide img {
  cursor: grab;
  width: 25rem;
  height: auto;
  border: 4px solid #fad643;
  border-radius: 20px;
  margin: 0 auto;
}

.slide {

  transform: scale(0.6);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.0);
  opacity: 1;
}

.arrow {
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

.arrow svg {
  transition: color 300ms;
  color:  #fad643;
}

.arrow svg:hover {
  color: white;
}

.next {
  right: 2%;
  top: 50%;
}

.prev {
  left: 2%;
  top: 50%;
}


.zzzz{
  margin-top: 4%;
}

/* Media Quires */

@media (max-width:1028px) {
    .main-sec {
        width: 100%;
        margin: 8rem auto;
        height: auto;
      }
      
      .slide img {
        width: 17rem;
        height: auto;
        border: 2px solid black;
        border-radius: 20px;
        margin: 0 auto;
      }
}

@media (max-width:710px) {
    .main-sec {
        width: 100%;
        margin: 4rem auto;
        height: auto;
      }
      
      .slide img {
        width: 14rem;
        height: auto;
        border: 2px solid black;
        border-radius: 20px;
        margin: 0 auto;
      }
}

@media (max-width:610px) {
    .main-sec {
        width: 100%;
        margin: 2rem auto;
        height: auto;
      }
      
      .slide img {
        width: 10rem;
        height: auto;
        border: 2px solid black;
        border-radius: 20px;
        margin: 0 auto;
      }
}

@media (max-width:400px) {
    .main-sec {
        width: 100%;
        margin: 2rem auto;
        height: auto;
      }
      
      .slide img {
        width: 8rem;
        height: auto;
        border: 2px solid black;
        border-radius: 10px;
        margin: 0 auto;
      }
      .arrow {
        display: none;
    }
}

@media (max-width:330px) {
    .main-sec {
        width: 100%;
        margin: 2rem auto;
        height: auto;
      }
      
      .slide img {
        width: 4rem;
        height: auto;
        border: 2px solid black;
        border-radius: 10px;
        margin: 0 auto;
      }
}

@media (max-width:150px) {
    .main-sec {
        width: 100%;
        margin: 2rem auto;
        height: auto;
      }
      
      .slide img {
        width: 2rem;
        height: auto;
        border: 2px solid black;
        border-radius: 10px;
        margin: 0 auto;
      }
}